/*this is the main.css part*/

body {
    font-family: arial;
}


/* Format all the games to display*/

section {}


/*Make sure the display screen has a different layout - override the other section 
formatting*/

#displayScreen {}


/*MC Section Start*/

#recommendationView {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 94%;
    width: 93%;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    overflow: hidden;
    text-align: center;
    color: white;
}


/*SC Stuff Start*/

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}


/*SC Stuff End*/

#filterContainer {
    position: absolute;
    height: 85%;
    width: 79%;
    padding: 45px 41px 45px 41px;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.4);
    left: 110%;
    overflow-y: hidden;
    overflow-x: hidden;
    transition-duration: 0.4s;
}

#filterContent {
    position: fixed;
    padding: 0px 0px 0px 0px;
    height: 63%;
    width: 65%;
    top: 16%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.contentDiv {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25%;
    top: 15%;
    right: 10%;
    display: block;
    text-align: center;
    font-size: 22px;
    color: white;
    transition: 0.3s;
}

section .filterbtn {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: block;
    width: 20%;
    height: 8%;
    bottom: 0;
    right: 40%;
    background-color: #4CAF50;
    /*color: white;*/
    border: 2px solid white;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    transition-duration: 0.4s;
}

#contentDiv {
    position: relative;
    padding: 10px 0px 5px 0px;
    text-align: -webkit-center;
    display: inline-grid;
    width: 97%;
    height: 91%;
    top: 8%;
    font-size: 27px;
}

.game_Image img {
    width: 50%;
    height: 50%;
}